/* 
===========================================
SECTION 1 : CSS RESET
=========================================== */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);
html{
    font-size: 62.5%; /* 16px * 62.5% = 10rem (testé sur calculatrice) */
}
body{
    font: 1.3rem "Roboto", sans-serif; /* 13px en base 10*/
    margin: 0;
    letter-spacing: .1rem; /* = 1px */
    line-height: 1.6;
    background-color: var(--bg-color-theme);
}
h1,h2,h3,p,figure,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
/* scrollbar c'est ici */
*{
    /* ff */
    
    scrollbar-width: thin;
    scrollbar-color: #7f6ec2 #fff;
}
/* webkit */
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 .1rem darkgray;
}
::-webkit-scrollbar-thumb {
    background-color: royalblue;
    outline: .1rem solid slateblue;
}
/*
===========================================
SECTION 2 : THEME CSS 
=========================================== */
:root {
    --bg-color-theme: #0a0421;
    --bg-color-header: #0c042d;
    --bgcolor-list: rgba(85, 85, 85, 0.258);
    --letter-color: #fff;
    --lettre-color-default: #ffffff; 
}
/* header */
header {
    margin-bottom: 5rem;
    background-color: var(--bg-color-header);
    text-align: center;
    border-radius: 25rem;
    
}
header h1 {
    color: aliceblue;
    line-height: 8rem;
    font-size: 3.5rem;
}
figure{
    max-width: 62.25rem; 
    margin: 0 auto; 
    border: solid .1rem var(--letter-color);
    padding: 1rem;
    background-color: var(--letter-color);
}
figure img {
    display: inline-block;
    max-width: 100%;
    border-radius: 0.5rem;
}
figure figcaption ul{
line-height: 6rem;
border-radius: 0.5rem;
}
figure figcaption ul li{
padding: 0 .5rem;
border-radius: 0.5rem;
}
figure figcaption ul.list-movie li:nth-child(2n + 1){ /*1 sur 2 à partir du 1er */
    background-color: var(--bgcolor-list);
    border-radius: 0.5rem;
}
details{
    background-color: var(--bgcolor-list);
}
details summary{
    line-height: 6rem;
    background-color: var(--bgcolor-list);
    padding-left: .5rem;
    border-radius: 0.5rem;
}
details p{
    padding: 0 .5rem;
}
footer{
    text-align: center;
    color: var(--letter-color);
    line-height: 4.5rem;
}
ion-icon{
    vertical-align: middle;
}
