/* 
===========================================
SECTION 1 : CSS RESET
=========================================== */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);
html{
    font-size: 62.5%; /* 16px * 62.5% = 10rem (testé sur calculatrice) */
    background: url(/asset/1443174.jpg)no-repeat fixed center center / cover;
}
body{
    font: 1.3rem "Roboto", sans-serif; /* 13px en base 10*/
    margin: 0;
    letter-spacing: .1rem; /* = 1px */
    line-height: 1.6;
    /*background-color: var(--bg-color-theme);*/
}
h1,h2,h3,p,figure,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
/* scrollbar c'est ici */
*{
    /* ff */
    
    scrollbar-width: thin;
    scrollbar-color: #7f6ec2 #fff;
}
/* webkit */
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 .1rem darkgray;
}
::-webkit-scrollbar-thumb {
    background-color: royalblue;
    outline: .1rem solid slateblue;
}